
# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts
*.sh text eol=lf
*.bash text eol=lf

# Configuration files
*.conf text eol=lf

# Documentation
*.md text eol=lf
*.txt text eol=lf

# Ensure binary files are left untouched
*.gz binary
*.tar binary
*.zip binary
